body {
	font-family: 'Roboto Slab', serif;
}


/* Nav styles - START*/
nav
{
background-color: transparent;
}

.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-brand

{color: #D8038C;
}

.navbar-light .navbar-brand
{	font-size: 2em;
    font-family: 'Droid Serif', sans-serif;
}

.navbar-light .navbar-brand:hover
{
  color: #09858B;  
}

.navbar-light .navbar-nav .nav-item a
{text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
    transition: all .3s;}

.navbar-light .navbar-nav .nav-item a:hover
{color: #09858B;}

.navbar-light .navbar-toggler
{
    border: 3px solid #8B105F;
    background-color:white;
}

.navbar-light .navbar-toggler:hover
{border: 3px solid #09858B;}

#main-nav.scroll {
background-color: rgba(14, 216, 214, 0.75);
}

nav button:focus {

outline: none;
border: 3px solid #09858B;
}

/* Nav styles - END*/


/* Main headres styles */

#main-header {
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url(../img/background.jpg);
	background-size: cover;
	background-position: center;
	height: 100vh;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}

#main-header .header-caption h2 {
	font-family: 'Droid Serif', sans-serif;
	font-size: 3em;
}

#main-header .header-caption h1 {
	font-family: 'Montserrat', sans-serif;
	font-size: 4em;
	margin: 45px 0;
}

#main-header .header-caption .read-more {
	background-color: #D8038C;
	border: 2px solid #8B105F;
	font-family: 'Montserrat', sans-serif;
	color: #fff;
	transition: all .3s;
	padding: 15px 30px;
}

#main-header .header-caption .read-more:hover {
	background-color: #fff;
color: #09858B;
}

/* Main headres styles - END*/